---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$medium-website-font: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif !default;

$medium-website-font2: medium-content-sans-serif-font !default;
$medium-website-font3: medium-ui-sans-serif-text-font !default;
$medium-website-font4: medium-content-serif-font !default;
$medium-website-font5: Georgia, Cambria, "Times New Roman", Times, serif !default;

/* Medium Font:
https://www.quora.com/Where-can-I-get-medium-content-sans-serif-font-web-font
*/

body {
  font-family: $medium-website-font5;
}

.masthead {
/*  background-color: black; */
}

.greedy-nav {
/*  background-color: black; */
}

a.site-title {
/*  color: white; */
/*  font-weight: bold; */
}

ul.visible-links > li > a {
  color: black;
  font-weight: bold;
}

figure figcaption {
  font-size: 20px;
  text-align: center;
  width: 100%;
}

ol {
    padding-left: 0;
    counter-reset: list;
}
ol > li {
    list-style: none;
}
ol > li:before {
    content: "("counter(list) ") ";
    counter-increment: list;
}

/*
ul {
    padding-left: 1;
    counter-reset: list;
}
*/